.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 0;
    background: #ECEFF1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrapper.shake {
    animation: shake .15s linear;
    animation-iteration-count: 4;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(.8rem);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 501px) {
    .wrapper {
        padding: 2rem;
    }
}