.wrapper {
    width: 100%;
    max-width: 964px;
    margin: 0 auto;
    padding: 1rem 0;
    background: var(--color-grey-light);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wrapper.shake {
    animation: shake .15s linear;
    animation-iteration-count: 4;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(.8rem);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 501px) {
    .wrapper {
        padding: 2rem;
    }
}

@media screen and (min-width: 965px) {
    .wrapper {
        margin-bottom: 5rem;
        border: 2px solid var(--color-green-light);
        border-radius: .5rem;
    }
}