nav {
    width: 100%;
    background: var(--color-green);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 1rem rgba(0,0,0,.3);
}

.nav-container {
    width: 100%;
    max-width: 960px;
    height: 5rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    color: var(--color-white);
    font-family: var(--font-heading);
    font-weight: 900;
    font-size: 2rem;
}

.message {
    color: var(--color-white);
}

.message.correct {
    animation: flashingYellow .4s linear;
    animation-iteration-count: 3;
}

.message.incorrect {
    animation: flashingRed .5s linear;
    animation-iteration-count: 3;
}

.score-container {
    background: var(--color-white);
    border-radius: .5rem;
    display: flex;
}

.score {
    padding: .3rem 1rem;
    display: flex;
    align-items: center;
}

.score:not(:last-child) {
    border-right: 2px dotted var(--color-green);
}

.score dt {
    margin-right: .5rem;
    color: var(--color-green);
    font-weight: 700;
}

@keyframes flashingYellow {
    0% {
        color: var(--color-white);
    }
    50% {
        color: var(--color-yellow);
        text-shadow: 0 0 5px rgb(255, 246, 175);
    }
    100% {
        color: var(--color-white);
    }
}

@keyframes flashingRed {
    0% {
        color: var(--color-white);
    }
    50% {
        color: var(--color-red);
        text-shadow: 0 0 5px rgb(255, 175, 175);
    }
    100% {
        color: var(--color-white);
    }
}

